--
-- PostgreSQL database dump
--

\restrict kIxlBmufXxdLkGcuR5A5QLf3jZ0W24QGdNHScstXGn4A6RIavujWuXEJxWgl6Er

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public."Category" OWNER TO postgres;

--
-- Name: Flashcard; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Flashcard" (
    id text NOT NULL,
    word text NOT NULL,
    translation text NOT NULL,
    definition text,
    synonyms text[],
    "categoryId" text,
    "userId" text NOT NULL
);


ALTER TABLE public."Flashcard" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Category" (id, name, "userId") FROM stdin;
2e561c05-89a1-4a33-98dd-85fb4cd8e1ff	Angielski - Biznes	de9618e2-284a-4b61-91c6-dd904770112f
\.


--
-- Data for Name: Flashcard; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Flashcard" (id, word, translation, definition, synonyms, "categoryId", "userId") FROM stdin;
c5ebd259-cd33-4684-a19c-522b39165f36	resilient	odporny, elastyczny	Able to withstand or recover quickly from difficult conditions.	{tough,adaptable,buoyant}	2e561c05-89a1-4a33-98dd-85fb4cd8e1ff	de9618e2-284a-4b61-91c6-dd904770112f
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, password) FROM stdin;
de9618e2-284a-4b61-91c6-dd904770112f	test@test.pl	$2b$10$iq3CrmknrL/7rUMxep1eAeysQweeNeTA4xzhVGtd.40AwDVH48TDC
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
ec9afd4c-7a30-4f0e-8c98-d064fbc4196c	20ee3db668edee98e5e61ea9f9237f0a0508f3f184365ef420a1ca99525352a6	2026-10-03 18:52:09.885318+02	20261003134801_init_mvp	\N	\N	2026-10-03 18:52:09.873307+02	1
\.


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Flashcard Flashcard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Flashcard"
    ADD CONSTRAINT "Flashcard_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Category Category_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Flashcard Flashcard_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Flashcard"
    ADD CONSTRAINT "Flashcard_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Flashcard Flashcard_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Flashcard"
    ADD CONSTRAINT "Flashcard_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict kIxlBmufXxdLkGcuR5A5QLf3jZ0W24QGdNHScstXGn4A6RIavujWuXEJxWgl6Er

